.sidebar {
	background: peachpuff;
	width: 25%;
	height: 100vh;
	overflow: scroll;
	padding: 20px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
  }
  
  .main {
	width: 75%;
	background-color: green;
	position: fixed;
	top: 0;
	left: 25%;
	height: 100vh;
	overflow: scroll;
	display: flex;
	flex-wrap: wrap;
  }

  .header {
	  font-size: 200px;
	  position:relative;
  }
  
  .item {
	width: 50%;
  }
  
  .inner {
	padding: 20px;
  }
  

	
