* {
	box-sizing: border-box;
}
.overlay {
	width:300px;
	height:100px;
	
	position:fixed;
	top:10px;
	
	pointer-events:none;
  }

}
.container {
	display: flex;
	flex-wrap: wrap;
	
}

  
  
  .row:hover {
	background-color: black;
	color: white;
  }
.left {
	width:25%;
	
	cursor: pointer;
	font-size:20px;
	font-family:arial;
	overflow: scroll;
	
  }
	


.right {
	
	width: 70%;
  height: 100vh;
  background-color: blue;
  overflow: scroll;
  padding: 20px;
    font-size: 70px;
}

.header {
	margin-bottom: 20px;
	border: 1px solid black;
}